// File Name: _typography.scss
// Description: typos
// Used by: app.scss
// Dependencies: _color.scss
// ------------------------------------------------------------
// -------------------------------------------------------------
// Font
// -------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

// -------------------------------------------------------------
// Font Size
// -------------------------------------------------------------
html {
  color: $default-font-color;
  font-family: $font-family-open-sans;
  font-size: 62.5%; // 1em = 10px; 10px/16px = 62.5%
  font-weight: $default-font-weight;
  letter-spacing: $default-letter-spacing;
  line-height: $default-line-height;

  // -------------------------------------------------------------
  // Nav
  // -------------------------------------------------------------
  ul {
    font-size: $default-font-size;
    list-style: none;
    li {
      color: $black;
      font-weight: 100;
      letter-spacing: .1rem;
      padding-top: .5rem;
    }
  }

  // -------------------------------------------------------------
  // Links
  // -------------------------------------------------------------
  a {
    color: $default-font-color;
    cursor: pointer;
    font-size: $nav-font-size;
    font-weight: 100;
    list-style: none;
    margin: 0;
    text-decoration: none;
    word-spacing: $default-word-spacing; // Fixes grid Spacing Bug
    &:hover {
      cursor: pointer;
    }
  }
  // -------------------------------------------------------------
  // Paragraph
  // -------------------------------------------------------------
  p {
    font-size: $default-font-size;
    letter-spacing: $default-letter-spacing;
    line-height: $default-line-height;
    word-spacing: $default-word-spacing; // Fixes grid Spacing Bug

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
  h1, h2,
  h3, h4,
  h5 {
    word-spacing: $default-word-spacing; // Fixes grid Spacing Bug
  }
  // -------------------------------------------------------------
  // Table
  // -------------------------------------------------------------
  table {
    font-size: $default-font-size;
  }
}


// -------------------------------------------------------------
// H-group
// -------------------------------------------------------------
.product-details {
  backface-visibility: hidden;
  letter-spacing: $default-letter-spacing;
  margin: 0 auto;
  text-align: center !important;

  &--main {
    @extend .product-details;
     @include sm {
       font-size: $heading-primary-font-size-sm;
       margin: .5rem;
     }
     font-size: 3rem;
     letter-spacing: .8px;
     padding: 0 3rem;
  }
  &--sub {
    @extend .product-details;
    @include sm {
      font-size: 2.4rem;
      margin-bottom: 1.8rem;
      margin-top: .5rem;
    }
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 1.8rem;
    text-align: center;
    width: 65%;
  }
}

.chart-heading {
  @include md {
    font-size: $heading-secondary-font-size-sm;
  }
  background-color: $white;
  font-size: $heading-secondary-font-size;
  font-style: normal;
  font-weight: 300;
  height: 6.9rem;
  line-height: 1.45;
  margin-top: 0;
  padding-top: 0;
  text-align: center;
}
